@*ViewAssembly.Area.Areas.AnalisisRiesgo.Models.ARViewModel*@

@{
    ViewBag.Title = "Pagina de analisis de riesgo";
}

    <link href="~/Content/Resource/AnalisisRiesgo/css/AR" rel="stylesheet" />
<h2>@ViewBag.Title</h2>

@*<span>@Model.Titulo</span>
<span>@Model.Mensaje</span>*@

@Html.DisplayFor(x => x)

